*{ margin:0; padding:0; box-sizing:border-box; }
body{ font-family:'Poppins',sans-serif; background:#0c0f14; color:#fff; }

.topbar{ background:#3574f0; padding:8px 0; text-align:center; font-size:13px; }

header{
    background:#3574f0;
    padding:20px 60px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{ font-size:22px; font-weight:700; }

.admin-area button{
    padding:6px 12px;
    border:none;
    border-radius:6px;
    cursor:pointer;
    font-weight:600;
}

.login-btn{ background:#000; color:#fff; }
.logout-btn{ background:#c62828; color:#fff; }

nav button{
    background:none;
    border:none;
    color:#000;
    margin-left:20px;
    padding:8px 15px;
    border-radius:6px;
    cursor:pointer;
}

nav button.active{
    background:#265dcc;
    color:#ffffff;
}

.hero{
    height:250px;
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
    url("img/banner.gif");
    background-size:cover;
    background-position:center;
}

.container{ width:90%; max-width:1200px; margin:60px auto; }

section{ display:none; margin-bottom:50px; }
section.active{ display:block; }

section h2{ margin-bottom:30px; color:#3da9fc; }

.grid{
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(260px,1fr));
    gap:30px;
}

.card{
    background:#161b23;
    border-radius:14px;
    overflow:hidden;
    border:2px solid #c62828;
    box-shadow:0 0 10px #c62828;
    transition:0.3s;
}

.card.disponivel{
    border:2px solid #00c853;
    box-shadow:0 0 10px #00c853;
}

.card img{ width:100%; height:200px; object-fit:cover; }

.card .info{ padding:18px; }

.actions{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.details-btn{
    background:#3da9fc;
    border:none;
    padding:8px 12px;
    border-radius:6px;
    cursor:pointer;
}

.status-btn{
    border:none;
    padding:8px 12px;
    border-radius:6px;
    color:#fcfcfc;
    font-weight:600;
}

.status-indisponivel{ background:#c62828; }
.status-disponivel{ background:#00c853; }

.status-btn:disabled{
    opacity:0.5;
    cursor:not-allowed;
}

.modal{
    position:fixed;
    top:0; left:0;
    width:100%; height:100%;
    background:rgba(0,0,0,0.7);
    display:none;
    align-items:center;
    justify-content:center;
}

.modal-content{
    background:#0c0f14;
    padding:30px;
    border-radius:12px;
    width:90%;
    max-width:400px;
}

.modal-content input{
    width:100%;
    padding:8px;
    margin-top:10px;
}

.modal-content button{
    margin-top:15px;
    padding:8px 12px;
    border:none;
    border-radius:6px;
    cursor:pointer;
}
/* Rodapé */
.rodape {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  margin-top: 40px;

  background: #111;
  color: #aaa;
  font-size: 14px;

  border-top: 1px solid #222 ;
}

.rodape span {
  color: #00bfff;
  font-weight: bold;
}

/* BOTÃO DISCORD */


.discord-btn{
  color:#5865F2;
  font-size:22px;
  margin-right:12px;
  text-decoration:none;
  display:flex;
  align-items:center;
  transition:0.3s;
}

.discord-btn:hover{
  color:#ffffff;
  transform:scale(1.2);
}

